
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <div class="fab" (click)="create()">
            <span class="fab-action-button d-flex justify-content-center">
                      <!-- <i class="fab-action-button__icon"></i> -->
                <svg class="fab-action-button__icon" width="36" height="36" viewBox="0 0 36 36"><path fill="#34A853" d="M16 16v14h4V20z"></path><path fill="#4285F4" d="M30 16H20l-4 4h14z"></path><path fill="#FBBC05" d="M6 16v4h10l4-4z"></path><path fill="#EA4335" d="M20 16V6h-4v14z"></path><path fill="none" d="M0 0h36v36H0z"></path></svg>
            </span>
            <span class="" id="create-text">Create</span>
        </div>
    <app-left-sidebar></app-left-sidebar>
    <div style="width: 100%;">
        <router-outlet></router-outlet>
    </div>
    <div>
        <app-right-sidebar></app-right-sidebar>
    </div>
    
</div>    